[output_pin probe_enable]
pin: PA1
value: 0

[gcode_macro Probe_Deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro Probe_Stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[probe]
pin: ^!PC14
deactivate_on_each_sample: False
x_offset: -42.5
y_offset: -2.0
#z_offset: 0.0
speed: 5.0
samples: 2
#sample_retract_dist: 2.0
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
    Probe_Deploy
    G4 P500
deactivate_gcode:
    Probe_Stow

[bed_mesh]
speed: 150
horizontal_move_z: 5
#mesh_radius:
#mesh_origin:
mesh_min: 20, 20           # Change this is the coordinate for the first probe point
mesh_max: 180, 210    # Change this is the coordinate for the last probe point
probe_count: 4, 4

[safe_z_home]
home_xy_position: 117.5, 117.5   # Change this is the coordinate for the center of the bed
speed: 50.0
z_hop: 10
z_hop_speed: 15.0
